# R CMD check / build artifacts
*.tar.gz
*.tgz
castSDM.Rcheck/
..Rcheck/

.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/
inst/doc
Meta/
output/
castSDM_batch_output/
castSDM_multi_species/
cast_ovis_ammon_figures/

inst/extdata/

tools/
extdata/
